@font-face {
 font-family: "ZaleskiRegularZaleski";
 src: url("Fonts/zalesk.TTF");
}
.under_construction {
 font-family: "z";
 color: blue;
}

/* html{
 background-image: url("https://previews.123rf.com/images/oksancia/oksancia1307/oksancia130704342/21263924-pastel-azul-tejido-ikat-diamante-fondo-sin-patr%C3%B3n.jpg");
} */

iframe{
 width: 900px;
 height: 600px;


}
/******  mobile-friendly  ******/
@media screen and (max-width: 480px) {
    .greek_logo img {
        width:  90vw;
    }

    .under_construction{
        text-align: center;

        font-family: "ZaleskiRegularZaleski";
    }

    a {
        font-size:  2em;
      }

    ul {
        list-style: none;
        float: center;
        margin-right: 10vw;
    }
    iframe{
     width: 275px;
     height: 400px;
 }

    #pita {
      width: 100vw;
      margin-left: -10vw;
    }
}


/****  IPAD or big phones sized screens  *******/
@media screen and (min-width: 481px) {
  .greek_logo img {
    width:  70vw;
    margin-left: 15vw;
    }

    .under_construction {
      font-family: "ZaleskiRegularZaleski";
       width:  80vw;
       text-align:  center;
    }

    a {
        font-size:  2em;
      }

    ul {
        list-style: none;
        float: center;
        margin-right: 10vw;
    }
iframe{

}
    #pita {

      width: 100vw;
      margin-left: -20vw;
    }
}

/******* desktop version ***********/
@media screen and (min-width: 481px) {

 @font-face {
  font-family: "greekinoutFont";
  src: url("Fonts/Optio_O.ttf");
 }

 html{
  background-image: url("https://previews.123rf.com/images/oksancia/oksancia1307/oksancia130704342/21263924-pastel-azul-tejido-ikat-diamante-fondo-sin-patr%C3%B3n.jpg");
 }

 #pita{
  align-items: center;
  padding-left: 50%;
  width: 900px;
  height: 600px;

 }

  .greek_logo img {
    width:  70vw;
    margin-left: 15vw;
  }

   iframe{
    width: 900px;
    height: 600px;


   }

 h1{
 font-family: "ZaleskiRegularZaleski";
}
    .under_construction h1{
      font-family: "ZaleskiRegularZaleski";
       width:  80vw;
       color: red;
       margin-left: 10vw;
       text-align:  center;
    }

  /******** this makes the call button for non-mobile devices disappear *********/
    .phone_number .call_me_mobile_only a {
      visibility: hidden;
    }

}

footer {
  text-align: center;
}
